<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~        Copyright (c) 2021-2015, wuyanshen All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~  Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the lvcoding.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: wuyanshen
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvcoding.dao.SysDictTypeMapper">
  <resultMap id="BaseResultMap" type="com.lvcoding.entity.SysDictType">
    <!--@mbg.generated-->
    <!--@Table sys_dict_type-->
    <id column="id" property="id" />
    <result column="type_code" property="typeCode" />
    <result column="type_name" property="typeName" />
    <result column="sort" property="sort" />
    <result column="status" property="status" />
    <result column="remark" property="remark" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="create_by" property="createBy" />
    <result column="update_by" property="updateBy" />
    <result column="del_flag" property="delFlag" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, type_code, type_name, sort, `status`, remark, create_time, update_time, create_by,
    update_by, del_flag, tenant_id
  </sql>
</mapper>
