<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvcoding.dao.SysOrgMapper">

    <resultMap type="com.lvcoding.entity.SysOrg" id="SysOrgMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgPid" column="org_pid" jdbcType="INTEGER"/>
        <result property="orgPids" column="org_pids" jdbcType="VARCHAR"/>
        <result property="isLeaf" column="is_leaf" jdbcType="INTEGER"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

</mapper>
