html,
body,
#app {
    height: 100%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.el-card {
    margin: 15px;
}

/*tab样式*/
.el-tabs--border-card>.el-tabs__content{
	padding: 0
}
/*tab样式*/
.el-tabs--top>.el-tabs__header{
	margin: 0;
    padding: 0 20px;
}

.el-table tbody tr:hover>td {
    background-color:#fff!important
}

