html,
body,
#app {
    height: 100%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.el-card {
    margin: 15px;
}

/*tab样式*/
.el-tabs--border-card>.el-tabs__content{
	padding: 0
}
/*tab样式*/
.el-tabs--top>.el-tabs__header{
	margin: 0;
    padding: 0 20px;
}

.el-table tbody tr:hover>td {
    background-color:#fff!important
}

/* 面包屑样式 */
.el-breadcrumb {
    margin: 20px 0 0 20px;
}

/* table样式 */
.el-table{
    margin-top: 10px;
}

/* table表头样式 */
.el-table .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th {
    word-break: break-word;
    background-color: #f8f8f9;
    color: #515a6e;
    height: 40px;
    font-size: 13px;
}
