<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.lvcoding.aop.methodInterceptor.UserServiceImpl"/>
    <bean id="advice" class="com.lvcoding.aop.methodInterceptor.MyMethodInterceptor"/>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="pointcut" expression="execution(* com.lvcoding.aop.methodInterceptor.*.*(..))"/>
        <aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>
    </aop:config>
</beans>
